<footer id="footer"> 
    <div class="footer-container">
        <p class="footer-name">Josué David Mínchez Monzón</p>
        <p class="footer-id">ID: 2290-21-18482</p>

        <div class="footer-contact">
            <p><i class="fas fa-envelope"></i> josuemichezm@gmail.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Sololá, Guatemala</p>
        </div>
    </div>
</footer>
