<header class="header">
    <!-- <a href="#" class="logo">Josh</a> -->
    <nav class="navbar">
        <a href="/" class="navbar-opcion">Inicio</a>
        <a href="/sobreMi" class="navbar-opcion">Sobre mí</a>
        <a href="/formacionAcademica" class="navbar-opcion">Formación</a>
        <a href="/habilidades" class="navbar-opcion">Habilidades</a>
        <a href="/proyectos" class="navbar-opcion">Proyectos</a>
        <a href="/contacto" class="navbar-opcion">Contacto</a>
    </nav>
</header> 