<header class="header">
    <div class="menu-hamburguesa" id="menuToggle">
        <i class="fas fa-bars"></i> <!-- Icono de menú hamburguesa -->
    </div>
    <nav class="navbar" id="barra">
        <a href="/" class="navbar-opcion">Inicio</a>
        <a href="/sobreMi" class="navbar-opcion">Sobre mí</a>
        <a href="/formacionAcademica" class="navbar-opcion">Formación</a>
        <a href="/habilidades" class="navbar-opcion">Habilidades</a>
        <a href="/proyectos" class="navbar-opcion">Proyectos</a>
        <a href="/contacto" class="navbar-opcion">Contacto</a>
    </nav>
</header>

<script>
    const menuToggle = document.getElementById('menuToggle');
    const barra = document.getElementById('barra');

    menuToggle.addEventListener('click', () => {
        barra.classList.toggle('activo');
    });
</script>
