<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <title>Inicio - Portafolio</title>
</head>
<body>
    {{!-- Lugar del header --}}
    {{> header}}

    <main class="inicio" id="inicio">
        <section id="formacionAcademica">
            <div class="divtitulo-formacionAcademica">
                <h1 class="titulo-formacionAcademica">Formación Académica</h1>
            </div>
            <div class="estudios-cursos-diplomados">
                <h2>Estudios</h2>
                <div class="estudios-item">
                    <h3>2021 - 2024 Panajachel, Sololá, Guatemala</h3>
                    <p>Universidad Mariano Gálvez de Guatemala, Sede de Sololá</p>
                    <p>7mo Semestre en Ingeniería en Ciencias y Sistemas</p>
                </div>
                <div class="estudios-item">
                    <h3>2015 - 2016 Sololá, Guatemala</h3>
                    <p>Colegio Liceo Eben-Ezer Panajachel</p>
                    <p>Perito Contador con Orientación en Computación</p>
                </div>
                
                <h2>Cursos y Diplomados</h2>
                <div class="cursos-item">
                    <h3>INTECAP 2024 (Cursando)</h3>
                    <p>Administrador de Bases de Datos Oracle</p>
                </div>
                <div class="cursos-item">
                    <h3>Lima, Perú 20 de diciembre de 2020</h3>
                    <p>Curso de Desarrollo Web – 32 horas académicas</p>
                </div>
                <div class="cursos-item">
                    <h3>San Francisco, California, Estados Unidos - 2023 (Cursando)</h3>
                    <p>Universidad Java – De Cero a Experto</p>
                </div>
                <div class="cursos-item">
                    <h3>Página Web - Tutoriales programación Ya – 2023</h3>
                    <p>Curso Oracle ya desde cero</p>
                </div>
                <div class="cursos-item">
                    <h3>San Francisco, California, Estados Unidos - 2023</h3>
                    <p>Curso de reparación de Computadoras desde cero, instalación de Sistemas Operativos Windows, UDEMY</p>
                </div>
                <div class="cursos-item">
                    <h3>San Francisco, California, Estados Unidos - 2022</h3>
                    <p>Componentes de un sistema de cómputo, Hardware, Software, Dactilografía, Sistemas Operativos, Bases de Datos, Redes Computacionales, Internet, Software de aplicación, Word, Excel, PowerPoint, Desarrollo de software, Programación, Diseño web, Seguridad, UDEMY</p>
                </div>
                <a href="pdf/Curriculum - Josué David Mínchez Monzón1.pdf" download class="btn-download">
                    Descargar CV en PDF
                </a>
            </div>
        </section>   
        {{!-- Espacio del footer --}}
        {{> footer}}
    </main>  
</body>
</html>