<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <title>Portafolio</title>
</head>
<body>
    <header class="header">
        <!-- <a href="#" class="logo">Josh</a> -->
        <nav class="navbar">
            <a href="#seccionInicio" class="navbar-opcion">Inicio</a>
            <a href="#sobremi" class="navbar-opcion">Sobre mí</a>
            <a href="#formacionAcademica" class="navbar-opcion">Formación</a>
            <a href="#habilidades" class="navbar-opcion">Habilidades</a>
            <a href="#proyectos" class="navbar-opcion">Proyectos</a>
            <a href="#contacto" class="navbar-opcion">Contacto</a>
        </nav>
    </header>   
    <main class="inicio" id="inicio">
        <section class="seccionInicio" id="seccionInicio">
            <div class="inicio-info">
                <div class="inicio-info-texto">
                    <h1 class="hola">Hola,</h1>
                    <div class="nombreCompleto">
                        <h1 class="nombres">Soy Josué David <span class="apellidos">Mínchez Monzón</span></h1>
                    </div>
                    <h2 class="profesion">Desarrollador</h2>
                    <a href="#sobremi" class="btn-sobremi">
                        Sobre mí <img src="images/flecha-hacia-abajo-para-navegar.png" alt="Flecha" class="flecha-btn-sobremi">
                    </a>
                    <div class="redes-sociales">
                        <a href="#" class="redes-sociales-link">
                            <img src="images/linkedin.png" alt="LinkedIn" class="redes-sociales-img">
                        </a>
                        <a href="#" class="redes-sociales-link">
                            <img src="images/github.png" alt="GitHub" class="redes-sociales-img">
                        </a>
                        <a href="#" class="redes-sociales-link">
                            <img src="images/whatsapp.png" alt="WhatsApp" class="redes-sociales-img">
                        </a>
                        <a href="#" class="redes-sociales-link">
                            <img src="images/facebook.png" alt="Facebook" class="redes-sociales-img">
                        </a>
                    </div>
                </div>
            </div>
            <div class="inicio-foto">
                <div class="fotoInicio">
                    <img src="images/fotoFormal.png" alt="Foto Formal" class="fotoFormal">
                </div>
            </div>
        </section>
        
        <hr>
        <section id="sobremi">
            <div class="container-sobremi">
                <h1 class="titulo-sobremi">¿Quién Soy?</h1>
                <p class="parrafo-sobremi">
                    Soy un estudiante de ingeniería en ciencias y sistemas con una profunda pasión por la 
                    tecnología y la innovación. Mi objetivo es explorar y desarrollar soluciones 
                    tecnológicas avanzadas que resuelvan problemas reales y mejoren la calidad de vida. 
                    Me especializo en el desarrollo de software y sistemas, y estoy comprometido con el 
                    aprendizaje continuo y el trabajo en equipo. A través de mis estudios y proyectos, 
                    busco enfrentar desafíos complejos y contribuir a la creación de soluciones eficientes 
                    y sostenibles.
                </p>
                <div class="mision-vision">
                    <article class="vision">
                        <h2 class="titulo-vision">Visión</h2>
                        <p>
                            Convertirme en un líder en la ingeniería en ciencias y sistemas, utilizando mi 
                            conocimiento y habilidades para desarrollar soluciones tecnológicas innovadoras 
                            que transformen la sociedad y mejoren la calidad de vida de las personas a nivel 
                            global.
                        </p>
                    </article>
                    <article class="mision">
                        <h2 class="titulo-mision">Misión</h2>
                        <p>
                            Desarrollar soluciones tecnológicas eficientes y sostenibles mediante la aplicación 
                            de principios de ingeniería y ciencias de la computación. Mi misión es aprender, 
                            crecer y colaborar con otros profesionales para crear un impacto positivo en el mundo 
                            a través de la tecnología.
                        </p>
                    </article>
                </div>
            </div>
        </section>        
        <hr>
        <section id="formacionAcademica">
            <div class="divtitulo-formacionAcademica">
                <h1 class="titulo-formacionAcademica">Formación Académica</h1>
            </div>
            <div class="estudios-cursos-diplomados">
                <h2>Estudios</h2>
                <div class="estudios-item">
                    <h3>2021 - 2024 Panajachel, Sololá, Guatemala</h3>
                    <p>Universidad Mariano Gálvez de Guatemala, Sede de Sololá</p>
                    <p>7mo Semestre en Ingeniería en Ciencias y Sistemas</p>
                </div>
                <div class="estudios-item">
                    <h3>2015 - 2016 Sololá, Guatemala</h3>
                    <p>Colegio Liceo Eben-Ezer Panajachel</p>
                    <p>Perito Contador con Orientación en Computación</p>
                </div>
                
                <h2>Cursos y Diplomados</h2>
                <div class="cursos-item">
                    <h3>INTECAP 2024 (Cursando)</h3>
                    <p>Administrador de Bases de Datos Oracle</p>
                </div>
                <div class="cursos-item">
                    <h3>Lima, Perú 20 de diciembre de 2020</h3>
                    <p>Curso de Desarrollo Web – 32 horas académicas</p>
                </div>
                <div class="cursos-item">
                    <h3>San Francisco, California, Estados Unidos - 2023 (Cursando)</h3>
                    <p>Universidad Java – De Cero a Experto</p>
                </div>
                <div class="cursos-item">
                    <h3>Página Web - Tutoriales programación Ya – 2023</h3>
                    <p>Curso Oracle ya desde cero</p>
                </div>
                <div class="cursos-item">
                    <h3>San Francisco, California, Estados Unidos - 2023</h3>
                    <p>Curso de reparación de Computadoras desde cero, instalación de Sistemas Operativos Windows, UDEMY</p>
                </div>
                <div class="cursos-item">
                    <h3>San Francisco, California, Estados Unidos - 2022</h3>
                    <p>Componentes de un sistema de cómputo, Hardware, Software, Dactilografía, Sistemas Operativos, Bases de Datos, Redes Computacionales, Internet, Software de aplicación, Word, Excel, PowerPoint, Desarrollo de software, Programación, Diseño web, Seguridad, UDEMY</p>
                </div>
                <a href="pdf/Curriculum - Josué David Mínchez Monzón1.pdf" download class="btn-download">
                    Descargar PDF
                </a>
            </div>
        </section>        
        <hr>    
        <section id="habilidades">
            <h1 class="titulo-habilidades">Lenguajes de Programación</h1>
            <div class="lenguajes-programacion">
                <article class="lenguajes-programacion-opcion">
                    <img src="images/csharp.png" alt="C#" class="lenguajes-programacion-img">
                    <p>
                        Experiencia en desarrollo de aplicaciones web y de escritorio utilizando ASP.NET y .NET Framework.
                    </p>
                </article>
                <article class="lenguajes-programacion-opcion">
                    <img src="images/javascript.png" alt="JavaScript" class="lenguajes-programacion-img">
                    <p>
                        Desarrollo de interactividad en aplicaciones web y uso de frameworks como React y Boostrap.
                    </p>
                </article>
                <article class="lenguajes-programacion-opcion">
                    <img src="images/dbsqlserver.png" alt="SQL Server" class="lenguajes-programacion-img">
                    <p>
                        Diseño y gestión de bases de datos, consultas complejas y optimización de rendimiento.
                    </p>
                </article>
            </div>
        </section>
        
        <section id="habilidades-tecnologiasHerramientas">
            <h1 class="titulo-tecnologiasHerramientas">Tecnologías y Herramientas</h1>
            <div class="tecnologias-herramientas">
                <article class="tecnologias-herramientas-opcion">
                    <img src="images/asp.png" alt="ASP.NET" class="tecnologias-herramientas-img">
                    <p>
                        Implementación de aplicaciones web escalables y mantenibles.
                    </p>
                </article>
                <article class="tecnologias-herramientas-opcion">
                    <img src="images/html.png" alt="HTML" class="tecnologias-herramientas-img">
                    <p>
                        Creación de interfaces de usuario responsivas y atractivas, con conocimientos avanzados en diseño web.
                    </p>
                </article>
                <article class="tecnologias-herramientas-opcion">
                    <img src="images/css-3.png" alt="CSS" class="tecnologias-herramientas-img">
                    <p>
                        Creación de interfaces de usuario responsivas y atractivas, con conocimientos avanzados en diseño web.
                    </p>
                </article>
                <article class="tecnologias-herramientas-opcion">
                    <img src="images/git.png" alt="Git" class="tecnologias-herramientas-img">
                    <p>
                        Control de versiones y colaboración en proyectos de desarrollo con Git y plataformas como GitHub y GitLab.
                    </p>
                </article>
                <article class="tecnologias-herramientas-opcion">
                    <img src="images/visual-basico.png" alt="Visual Basic" class="tecnologias-herramientas-img">
                    <p>
                        Entorno de desarrollo integrado para la creación y depuración de aplicaciones en .NET.
                    </p>
                </article>
            </div>
        </section>        
        <hr>
        <section id="proyectos">
            <h1 class="titulo-proyectos">Proyectos</h1>
            <div class="proyectos-container">
                <div class="proyecto">
                    <h3>Proyecto 1</h3>
                    <button onclick="window.open('https://josueminchez-m.github.io/FarmaciaBatresInformacion/index.html');">Ver Proyecto</button>
                    <p>Página Web Informativa - Farmacia Batres</p>
                </div>
                <div class="proyecto">
                    <h3>Proyecto 2</h3>
                    <button onclick="window.open('https://josueminchez-m.github.io/tiendaOnlineVerizon/');">Ver Proyecto</button>
                    <p>Página Web - Tienda Verizon</p>
                </div>
                <div class="proyecto">
                    <h3>Proyecto 3</h3>
                    <button onclick="window.open('https://josueminchez-m.github.io/MacDonalds/index.html');">Ver Proyecto</button>
                    <p>Página Web - MacDonalds Guatemala</p>
                </div>
                <div class="proyecto">
                    <h3>Proyecto 4</h3>
                    <button onclick="window.open('https://josueminchez-m.github.io/TiendaMascotas/');">Ver Proyecto</button>
                    <p>Página Web - Tienda de Mascotas</p>
                </div>
                <div class="proyecto">
                    <h3>Proyecto 5</h3>
                    <button onclick="window.open('https://josueminchez-m.github.io/maquetaci-n_paises/');">Ver Proyecto</button>
                    <p>Página Web - Maquetación de una página web con HTML5 y CSS3</p>
                </div>
            </div>
        </section>
        <hr>
        <section id="contacto" class="contact-section">
            <div class="container-contacto">
                <h2 class="titulo-contacto">Contacto</h2>
                <div class="contact-info">
                    <div class="info-item">
                        <h3 class="info-title">Nombre Completo</h3>
                        <p>Josué David Mínchez Monzón</p>
                    </div>
                    <div class="info-item">
                        <h3 class="info-title">Teléfono</h3>
                        <p>+502 5585-0664</p>
                    </div>
                    <div class="info-item">
                        <h3 class="info-title">Correo Electrónico</h3>
                        <p>josueminchezm@gmail.com</p>
                    </div>
                    <div class="info-item">
                        <h3 class="info-title">Dirección</h3>
                        <p>3ra Calle 3-41, Zona 2, Panajachel, Sololá.</p>
                    </div>
                </div>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.4508154005766!2d-91.16086492472343!3d14.743613085759845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85894b8c3d788a7f%3A0x98ac8c595413b70e!2sHOTEL%20NIMBO!5e0!3m2!1ses!2sgt!4v1723866384195!5m2!1ses!2sgt" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </section>
        
        
    </main>
</body>
</html>