<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <title>Inicio - Portafolio</title>
</head>
<body>
    {{!-- Lugar del header --}}
    {{> header}}

    <main class="inicio" id="inicio">
        <section id="proyecto">
            <h1 class="titulo-proyecto">Sitio Web Principios para tener una vida plena</h1>
            <p class="descripcion-proyecto">
                Sitio Web que detalla los "Principios para tener una vida plena.". Este proyecto fue le proyecto final del curso de 
                Etica Profesional de la carrera de Ingeniería sistemas de información y ciencias de la computación de la Universidad
                Mariano Galvez de Guatemala Sede Sololá.
            </p>
            
            <div class="tecnologias-utilizadas">
                <h2>Tecnologías Utilizadas</h2>
                <div class="tecnologias-grid">
                    <div class="tecnologia-item">
                        <img src="/images/html.png" alt="HTML">
                        <p>HTML</p>
                    </div>
                    <div class="tecnologia-item">
                        <img src="/images/css-3.png" alt="CSS">
                        <p>CSS</p>
                    </div>
                    <div class="tecnologia-item">
                        <img src="/images/javascript.png" alt="JavaScript">
                        <p>JavaScript</p>
                    </div>
                    <div class="tecnologia-item">
                        <img src="/images/bootstrap.png" alt="Bootstrap">
                        <p>Bootstrap</p>
                    </div>
                </div>
            </div>


            <div class="contenido-proyecto">
                <h2>Detalles del Proyecto</h2>
                <p>
                    El proyecto consta de un sitio web en donde se detallan los principios para vivir una vida plena. Toda la informacion
                    detallada en este proyecto se obtuvo del libro "Desarrollo Humano y Profesional Libro 2". El menú consta de: Inicio, 
                    Datos, Decálogo, Moral y Ética, Temario y Ejemplos.
                </p>
                <div class="imagenes-proyecto">
                    <img src="/images/eticaProfesional/imagen1.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen2.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen3.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen4.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen5.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen6.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen7.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen8.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen9.png" alt="Imagen del Proyecto 1">
                    <img src="/images/eticaProfesional/imagen10.png" alt="Imagen del Proyecto 1">
                </div>
            </div>

            <div class="video-proyecto">
                <h2>Video de Explicación</h2>
                <iframe src="https://www.youtube.com/embed/rwmJv4B4PJI?si=S_EEJBywy2slU96u" 
                        title="Video de Explicación del Proyecto" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>
            </div>

            <div class="github-enlace">
                <a href="https://github.com/jminchezm/proyectoFinalEticaProfesional" target="_blank">
                    <img src="/images/github.png" alt="Enlace a GitHub">
                    <span>Ver Código en GitHub</span>
                </a>
            </div>

            <div class="github-enlace">
                <a href="https://jminchezm.github.io/proyectoFinalEticaProfesional/" target="_blank">
                    <img src="/images/github.png" alt="Enlace a GitHub">
                    <span>Ver Página Web en GitHub Pages</span>
                </a>
            </div>
        </section>
        {{!-- Espacio del footer --}}
        {{> footer}}
    </main>  
</body>
</html>
