<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <title>Inicio - Portafolio</title>
</head>
<body>
    {{!-- Lugar del header --}}
    {{> header}}

    <main class="inicio" id="inicio">
        <section id="proyecto">
            <h1 class="titulo-proyecto">Portafolio Personal en una sola Página Web</h1>
            <p class="descripcion-proyecto">
                Este es el proyecto de mi portafolio personal realizado en una sola página web.
            </p>
            
            <div class="tecnologias-utilizadas">
                <h2>Tecnologías Utilizadas</h2>
                <div class="tecnologias-grid">
                    <div class="tecnologia-item">
                        <img src="/images/html.png" alt="HTML">
                        <p>HTML</p>
                    </div>
                    <div class="tecnologia-item">
                        <img src="/images/css-3.png" alt="CSS">
                        <p>CSS</p>
                    </div>
                    <div class="tecnologia-item">
                        <img src="/images/javascript.png" alt="JavaScript">
                        <p>JavaScript</p>
                    </div>
                    <div class="tecnologia-item">
                        <img src="/images/nodejs.png" alt="JavaScript">
                        <p>Node Js</p>
                    </div>
                </div>
            </div>


            <div class="contenido-proyecto">
                <h2>Detalles del Proyecto</h2>
                <p>
                    Este proyecto contiene la Página Web de mi portafolio en una sola página. En el cual se cotienen los siguientes 
                    apartados: Inicio, Sobre mí, Formación, Habilidades, Proyectos y Contacto. Realizados con la tecnología de Html,
                    Css, Javascript y Node JS.
                </p>
                <div class="imagenes-proyecto">
                    <img src="/images/portafolio/imagen1.png" alt="Imagen del Proyecto 2">
                    <img src="/images/portafolio/imagen2.png" alt="Imagen del Proyecto 2">
                    <img src="/images/portafolio/imagen3.png" alt="Imagen del Proyecto 2">
                    <img src="/images/portafolio/imagen4.png" alt="Imagen del Proyecto 2">
                    <img src="/images/portafolio/imagen5.png" alt="Imagen del Proyecto 2">
                    <img src="/images/portafolio/imagen6.png" alt="Imagen del Proyecto 2">
                </div>
            </div>

            <div class="video-proyecto">
                <h2>Video de Explicación</h2>
                <iframe src="https://www.youtube.com/embed/0piOLmlTAVs?si=YCE-DU6ngwVCkes6" 
                        title="Video de Explicación del Proyecto" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>
            </div>

            <div class="github-enlace">
                <a href="https://github.com/JosueMinchez-M/Portafolio_Personal" target="_blank">
                    <img src="/images/github.png" alt="Enlace a GitHub">
                    <span>Ver Código en GitHub</span>
                </a>
            </div>

            <div class="github-enlace">
                <a href="https://josueminchez-m.github.io/Portafolio_Personal/" target="_blank">
                    <img src="/images/github.png" alt="Enlace a GitHub">
                    <span>Ver Página Web en GitHub Pages</span>
                </a>
            </div>
        </section>
        {{!-- Espacio del footer --}}
        {{> footer}}
    </main>  
</body>
</html>
