/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth; /* Aplica desplazamiento suave a toda la página */
}

body {
    background: #F2F2F2;
    color: #333;
}

/* Estilo del header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background: #020B26;
    z-index: 100;
    border-bottom: 1px solid #F2421B;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40px;
}

.navbar-opcion {
    text-decoration: none;
    margin-right: 15px;
    color: #F2421B;
    font-weight: bold;
    padding: 5px 10px;
    background-color: transparent; /* Establece el color de fondo inicial */
    /* transition: color 0.3s ease, border-bottom 0.3s ease, transform 0.3s ease, background-color 0.3s ease; */
}

.navbar-opcion:hover {
    color: #1BA698;
    border-bottom: 3px solid #F2421B;
    font-weight: bolder;
    transform: scale(1.05); /* Efecto de escala para resaltar el enlace */
    background-color: rgba(242, 66, 27, 0.1); /* Establece el color de fondo al pasar el cursor */
}

/* Ajuste para que el contenido no quede debajo del header */
section {
    scroll-margin-top: 70px; /* Compensa la altura del header */
}

/* Estilo para la sección de inicio */
.seccionInicio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 91vh;
    background: #020B26;
    border-bottom: 2px solid #F2421B;
    /* padding: 20px; */
    color: white;
}

.inicio-info {
    flex: 1;
    max-width: 50%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    /* background: black; */
}

.nombreCompleto {
    display: flex;
    flex-direction: column;
}

.hola {
    color: #1BA698;
    font-size: 2rem;
}

.nombres {
    color: #1BA698;
    font-size: 2.5rem;
}

.apellidos {
    color: #F2421B;
}

.profesion {
    color: #8C3623;
    font-size: 1.5rem;
    margin: 10px 0;
}

.btn-sobremi {
    background: #F23E16;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-sobremi:hover {
    background: #F23E16;
    transform: scale(1.05);
}

.flecha-btn-sobremi {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.redes-sociales {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.redes-sociales-link {
    display: inline-block;
}

.redes-sociales-img {
    width: 30px;
    height: 30px;
}

/* Estilo para la foto de inicio */
.inicio-foto{
    display: flex;
    /* background-image: url('/Img/fondoFotoInicio2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  */
    /* background-color: palevioletred; */
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 730px;
    /* border-left: 10px solid #F23E16; */
}

.fotoInicio{
    display: flex;
    /* background: #15038C; */
    background-image: url('/images/fondoFotoInicio2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(242,66,27, 0.9);
    border: 1px solid #D94D1A;
    animation: shadow-circular 5s infinite linear;
    /* animation: shadow-spin 5s infinite linear; */
}

.fotoFormal{
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    border: 2px solid #D94D1A;
}

/* Animación para movimiento circular del box-shadow */
@keyframes shadow-circular {
    0% {
        box-shadow: 0px -20px 20px rgba(140,54,35, 0.5);
    }
    25% {
        box-shadow: 20px 0px 20px rgba(27,166,152, 0.5);
    }
    50% {
        box-shadow: 0px 20px 20px rgba(12,68,89, 0.5);
    }
    75% {
        box-shadow: -20px 0px 20px rgba(242,148,65, 0.5);
    }
    100% {
        box-shadow: 0px -20px 20px rgba(242,66,27, 0.9);
    }
}


/* @keyframes shadow-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}    */

/* Aplicar la animación en hover */
/* .fotoInicio:hover {
    animation: shadow-move 1s infinite ease-in-out;
} */

/*--------------------------------------------------*/

#sobremi {
    background-color: #f9f9f9;
    padding: 60px 20px;
    border-bottom: 4px solid #f2421b;
    height: 91vh;
}

.container-sobremi {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.titulo-sobremi {
    font-size: 2.5rem;
    color: #f2421b;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}

.parrafo-sobremi {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.mision-vision {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.vision, .mision {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-vision, .titulo-mision {
    font-size: 1.8rem;
    color: #f2421b;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.vision p, .mision p {
    color: #444;
    font-size: 1rem;
    line-height: 1.6;
}


/*--------------------------------------------------*/
#habilidades, #habilidades-tecnologiasHerramientas {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* border-bottom: 2px solid #F2421B; */
}

#habilidades-tecnologiasHerramientas{
    border-bottom: 4px solid #F2421B;
}

.titulo-habilidades, .titulo-tecnologiasHerramientas {
    text-align: center;
    color: #F2421B;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    margin-bottom: 20px;
}

.lenguajes-programacion, .tecnologias-herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.lenguajes-programacion-opcion, .tecnologias-herramientas-opcion {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.lenguajes-programacion-img, .tecnologias-herramientas-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.lenguajes-programacion-opcion::before, .tecnologias-herramientas-opcion::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(242, 66, 27, 0.5);
    transition: left 0.3s ease-in-out;
}

.lenguajes-programacion-opcion:hover::before, .tecnologias-herramientas-opcion:hover::before {
    left: 0;
}

.lenguajes-programacion-opcion:hover .lenguajes-programacion-img, .tecnologias-herramientas-opcion:hover .tecnologias-herramientas-img {
    transform: scale(1.1);
}

.lenguajes-programacion-opcion:hover, .tecnologias-herramientas-opcion:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



/*---------- Formación Académica ----------*/
#formacionAcademica {
    display: flex;
    width: 100%;
    padding: 40px 0;
    background-color: #f9f9f9;
    border-bottom: 4px solid #F2421B;
    align-items: flex-start;
    justify-content: center;
}

.divtitulo-formacionAcademica {
    background: #020B26;
    padding: 20px;
    width: 25%;
    border-right: 4px solid #F2421B;
    text-align: center;
}

.titulo-formacionAcademica {
    margin: 0;
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.estudios-cursos-diplomados {
    width: 75%;
    padding: 20px 50px;
}

.estudios-cursos-diplomados h2 {
    color: #F2421B;
    font-size: 22px;
    border-bottom: 2px solid #F2421B;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.estudios-item, .cursos-item {
    margin-bottom: 20px;
}

.estudios-cursos-diplomados h3 {
    color: #8C3623;
    font-size: 18px;
    margin: 0;
}

.estudios-cursos-diplomados p {
    color: #020B26;
    font-size: 16px;
    margin: 5px 0 15px;
}

.btn-download {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    color: white;
    background-color: #F2421B;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-download::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 66, 27, 0.7);
    transition: left 0.3s ease-in-out;
}

.btn-download:hover::before {
    left: 0;
}

.btn-download:hover {
    background-color: #8C3623;
    transform: scale(1.05);
}


/*Seccion proyectos*/
/* Estilo para la sección de proyectos */
#proyectos {
    padding: 40px 20px;
    background-color: #f9f9f9;
    /* border-top: 4px solid #F2421B; */
}

.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.proyecto {
    flex: 1 1 calc(20% - 20px);
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.proyecto h3 {
    margin-top: 0;
    color: #F2421B;
}

.proyecto button {
    background-color: #F2421B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.proyecto button:hover {
    background-color: #d1361f;
}

.proyecto p {
    margin: 10px 0 0;
    color: #333;
}

.titulo-proyectos{
    text-align: center;
    color: #F2421B;
}

/*---------------------------------------*/
/* Estilo de la sección de contacto */
.contact-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    border-top: 4px solid #F2421B;
    border-bottom: 4px solid #F2421B;
}

.container-contacto {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.titulo-contacto {
    font-size: 2.5rem;
    color: #F2421B;
    margin-bottom: 30px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 50px;
}

.info-item {
    flex: 1 1 calc(25% - 40px);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.info-title {
    font-size: 1.5rem;
    color: #020B26;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.info-item p {
    font-size: 1.2rem;
    color: #333;
}

.mapa {
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



